   __pycache__/
   *.py[cod]
   *$py.class
   .Python
   env/
   .venv/
   venv/
   .docker/
   .idea/
   .vscode/
   *.swp
   *.swo
   .DS_Store
   .env

#terraform
   terraform-eks/.terraform.lock.hcl
   terraform-eks/.terraform/
   terraform-eks/terraform.tfstate